.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.div{
    display: flex;
    justify-content: flex-start;
}

.button{
    background-color: #3d1441;
    font-size: 24px;
    font-family: 'Get Schwifty';
    color: white ;
    text-shadow: 0 0 10px #44fb08;
    width: 150px;
    border-radius: 10px;     
    margin: 10px;
    border-color: #44fb08;
    border-style: double;
}

.button:hover{
    background-color: blueviolet;
    color: aqua;
    text-shadow: 0 0 5px #191a19;
}
