.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.div{
    display: flex;
    justify-content: flex-start;
}

.button{
    background-color: #3d1441;
    font-size: 24px;
    font-family: 'Get Schwifty';
    color: white ;
    text-shadow: 0 0 10px #44fb08;
    width: 150px;
    border-radius: 10px;     
    margin: 10px;
    border-color: #44fb08;
    border-style: double;
}

.button:hover{
    background-color: blueviolet;
    color: aqua;
    text-shadow: 0 0 5px #191a19;
}

@media screen and (max-width: 1000px) {

    .navBar{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .div{
        display: flex;
        justify-content: center;
    }

    .button{        
        font-size: 18px;        
        width: 100px;             
        margin: 10px;        
    }
}

@media screen and (max-width: 700px) {

    .navBar{
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-content: center;
    }
    .div{
        display: flex;
        justify-content: center;
    }

    .button{        
        font-size: 16px;        
        width: 70px;             
        margin: 2px;        
    }
}