body {
  margin: 0;
  padding: 0;
  background-image: url(https://media.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.gif);
  background-size: 100%;
  background-position: center;
  background-attachment:fixed;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  background: #3d1441;
}

::-webkit-scrollbar-thumb{
  background: #44fb08;
}

::-webkit-scrollbar-button{
  background: #3d1441;
}

::-webkit-scrollbar-track-piece{
  background: #f384fd;
}