.div{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   background-color: transparent;
   padding: 10px 10px;
   font-family: 'Get Schwifty';
   color:black ;
   text-shadow: 0 0 5px #44fb08;
   font-size: 20px; 
   margin-top: 60px;
 }
 
 .img{
    border-radius: 10%;
    width: 300px;
    
 }