.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: transparent;
  padding: 50px 80px;
  font-family: 'Get Schwifty';
  color:#44fb08;
  text-shadow: 0 0 5px #3d1441;
  font-size: 30px;  
} 

.input_container{
	position: relative;
	margin-bottom: 10px;
}

.input_container label{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 26px;	 
    pointer-events: none;  
	transition: all 0.5s ease-in-out;
    font-family: 'Get Schwifty';   
}

.input_container input{ 
  border:0;
  border-bottom: 3px solid silver; 
  background: transparent;
  width: 100%;
  padding: 10px 0 5px 0;
  font-size: 30px;
  font-family: 'Get Schwifty'; 
  color: silver;
  text-shadow: 0 0 8px black;
  caret-color: #44fb08;
}
.input_container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:2px solid #44fb08;	
}

.input_container input:focus ~ label,
.input_container input:valid ~ label{
	top:-15px;
	font-size: 30px;	
}

.button{
    background-color: #3d1441;
    font-size: 36px;
    font-family: 'Get Schwifty';
    color: silver;
    width: 160px;
    border-radius: 80px;     
    margin: 5px; 
    border-color: #44fb08;
    border-style: double; 
    cursor:pointer;
}

.button:hover{
    background-color:#44fb08;
    color: #3d1441;
}

.img{    
    width: 300px;
    height: 300px;    
    opacity: 90%;
}