.div{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin-top: 20px;
  background-color: transparent;
  padding: 20px 20px;
  font-family: 'Get Schwifty';
  color:black ;
  text-shadow: 0 0 5px #44fb08;
  font-size: 18px; 
}

.img{
   border-radius: 20%;
   width: 250px;
   border: double blueviolet 4px;
}