.divSearch{
    display: flex;
    width:fit-content;
    flex-direction: column;
    background: transparent;  
    align-content: center;  
}

.input{
    display: flex;
    color: #3d1441;
    background: linear-gradient(30deg, #44fb08, #3d1441);
    font-family: 'Get Schwifty';
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    border-color: #44fb08;
    border-style: double;
    caret-color: #3d1441;
}

.input::placeholder{
    color: #3d1441;
}
.button{
    width: 150px;
    background-color: #3d1441;
    font-size: 22px;
    font-family: 'Get Schwifty';
    border-radius: 10px;
    color: white;
    text-shadow: 0 0 10px #44fb08;
    margin: 10px; 
    border-color: #44fb08;
    border-style: double; 
}

.button:hover{
    background-color: blueviolet;
    color: aqua
}

@media screen and (max-width: 1000px) {

    .divSearch{
        display: flex;
        width: 50%;
        background-color: transparent;
    }
    .div{
        display: flex;
        justify-content: center;
    }

    .button{        
        font-size: 18px;        
        width: 80px;             
        margin: 5px;        
    }
}