.listItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 90%;
  padding-top: 30px;
  background: transparent;     
}
  