.div{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin-top: 60px;
  background-color: transparent;
  padding: 10px 10px;
  font-family: 'Get Schwifty';
  color:black ;
  letter-spacing: 1px;
  text-shadow: 0 0 5px  #44fb08, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #000, 0 0 25px #ff00de;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-color: #3d1441;
  -webkit-text-stroke-width:0.2px; 
  font-size: 22px;  
}

.img{
  border-radius: 20%;
  width: 200px;
  border: double blueviolet 4px;
  filter:opacity(90%);
  box-shadow: 14px 10px 16px #44fb08;
}

.div_button{
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: center;
}

.button_git{ 
  margin: 0 auto;
  padding: 10px;
  width: 60px;
  height: 60px;
  border: 3px solid #3d1441;
  border-radius: 60px;
  background-image: url('C:\Users\Windows\Desktop\SOYHENRY DOCS\ProyectoRyM\rick_and_morty\Client\src\assets\img\github.png');
  background-size: cover;
  cursor: pointer;  
}

.button_git:hover{
  border-color: #44fb08;  
}

.button_link{ 
  margin: 0 auto;
  padding: 10px;
  width: 60px;
  height: 60px;
  border: 3px solid #3d1441;
  border-radius: 60px;
  background-image: url('C:\Users\Windows\Desktop\SOYHENRY DOCS\ProyectoRyM\rick_and_morty\Client\src\assets\img\linkedin.jpg');
  background-size: cover;
  cursor: pointer;  
}

.button_link:hover{
  border-color: #44fb08;
}

@media screen and (max-width: 1000px) {

  .div{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: transparent;
  }
   .img{                
      width: 100px;             
      margin: 5px;  
           
  }
}