@font-face {
   font-family: 'Get Schwifty';
   src: url('./assets/get_schwifty.ttf') format('truetype');
}
.App {
   text-align: center;
   margin: 10px;
   padding: 2px;
   align-content: center;
}


